$bg:#272727;
$pricol:#ffc107;
$mobile:800px;
$formtitle-color:rgb(255, 255, 255);
$cen-pos:center;
$bor-rad:5px;
$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$pos-abs:absolute;
$dis-flex:flex;
$trans:transparent;